/* PC */
@media(min-width:64em){
    
}
/* tablet and mobile */
@media (max-width:63.9375em){
    .context-form .form-control {
        padding:16px;
    }
    .Buy-Tickets-Button{
            padding: 17px 26px;
    }
    .send-button{
        width:100%;
    }
    .social-list a{
        margin:0px 8px;
        
    }
    #footer .social-list a {
    font-size: 35px;
}
#footer .photocopy-text{
        font-size: 25px;
        padding: 5px 10px;
}
}
/* Tablet */
@media(min-width:46.25em) and(max-width:63.9375em){
     
}
/* Mobile */
@media(max-width:46.1875em){
    #header .mobile-search-button{
        display:block;
    }
    #header{
        overflow:hidden;
    }
    #header .searchbutton{
        display:none;
    }
    #nav >li{
        display:block;
    }
    #nav{
        display:block;
    }

    #nav>li:first-child{
        display:inline-block;
    }
    #nav .subnav{
        position:initial;
        background-color:#ccc;
    }
    #nav .subnav li a{
        padding: 12px 41px;
    }
    #content .member-item{
        width:  100% ;
    }

    #content .tour-member-item{
        width:100%;
    }
    #content .mobile-context{
        width:100%;
    }
    .s-full-width,
    .col-s{
        width:100% !important;
    }
    .mmg16{
        margin-top:16px !important;
    }
    .mmg8{
        margin-top:8px !important; 
    }
    #content .Buy-Tickets-Button{
        text-align: center  ;
    }
    






}